@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.section {
  padding: 100px 20px;
  background-color: #fff;
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-control > label {
  font-size: small;
}

.form-control > input,
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 32px;
}

.form-control > textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control > input:focus,
select:focus,
textarea:focus {
  outline: 1px black solid;
}

.btn {
  padding: 8px 36px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: #A8071A;
  color: #fff;
  transition: background-color 0.1s ease-out;
}

.btn:hover {
    background-color: #e65454;
    color: #fff;
}

.btn.primary {
  background-color: rgb(0, 128, 0);
  color: #fff;
}

.btn.primary:hover {
  background-color: limegreen;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}