@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-2 bg-blue-500 rounded hover:bg-blue-700;
  }
  .link-bg {
    @apply rounded-full text-white font-medium text-sm px-2.5 py-0.5;
    background-color: #788896;
  }
  .btn-transparent {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
}